header {
    background-color: #FFF9F4;
}

.main-custom-txt-color {
    color: #FA804C;
}

.main-custom-btn-bg-color {
    outline: none;
    border: none;
    background-image: linear-gradient(#3D4FF3, #3543BC);
}